<header class="main-header" id="main-header">
    <div class="main-header__inner">
        <div class="main-header__group">
            <button id="menu-button" class="button">
                <div class="menu-burger" id="menu-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                Menu</button>
            <a class="button" id="main-header-services">Våre tjenester</a>
            <div class="main-header__search" id="main-header-search">
                <input type="input" placeholder="Hva leter du etter?" class="main-header__search-input">
                <a class="main-header__search-anchor"><img src=" {{ settings:red_search_round }}" class="main-header__search-image"></a>
            </div>
        </div>
        <img src="{{ settings:main_logo }}" width="250" height="40">
        <div class="main-header__group">
            <a class="button">Finn verksted</a>
            <a class="button button--red">Bestill time</a>
        </div>
    </div>
</header>
{{ partial:partials/main_nav }}
