@use "../base/root.scss";

.menu-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-beige-400);
    border-radius: 2rem;
    padding: 2rem;

    &__image {
        margin-bottom: 1rem;
    }

    &__heading {
        font-size: 1.5rem;
    }

    &__body {
        margin-top: unset;
        font-size: 0.875rem;
    }

    &__link-container {
        padding-top: 1.5rem;
    }

    &__link {
        color: var(--color-black-400);
        text-decoration: none;
        border-bottom: 2px solid #DA1A32;
        padding-bottom: 0.1rem;
        display: inline-block;
    }
}
